<!DOCTYPE html>
{% load static %}
<html lang="">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vite App</title>
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
    <script type="module" crossorigin src="{% static 'js/index-B1dnbMty.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'css/index-C6s64aNw.css' %}">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
